body{
    margin: 0 5px;
    box-sizing: border-box;
}

/********************************* Header *********************************/
.header{
    border: 1px solid transparent;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
    height: 40px;
}

.header .logo{
    float: left;
    margin: 5px 0 0 5px;
}

.header .login-info{
    float: right;
    margin: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .logo-img{
    width: 30px;
    height: 30px;
}

.login-info .login-info-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}

.login-info-text{
    display: inline-grid;
    font-size: 10px;
    padding: 0 5px;
}

.login-info .up .icon{
    color:#ff9800;
}

/********************************* FIN Header *********************************/

/********************************* Debut Content *********************************/
    /***************************************** PART LEFT *********************************/
    .content{
        margin: 3% 7%;
        background-color: white;
        display: grid;
        grid-template-columns: 22% 73%;
        grid-gap: 5%;
    }

    .card-min{
        border: 1px solid whitesmoke;
        box-shadow: 0 0 3px rgba(0,0,0,0.7);
        border-radius: 2%;
        padding-bottom: 200px;
        float: left;
        position: relative;
        width: 100%;
    }
    .card-min .link .link-icon{
        display: flex;      
        align-items: center;
        padding-left: 10%;
        box-sizing: border-box;
    }

    .card-min .link .link-icon:first-child{
        margin-top: 10%;
        border: 1px solid transparent;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #bbdfd6;
        width:inherit;
    } 

    .card-min .link .link-icon li{
        list-style: none;
        padding: 5%;
    }

    .card-min .link .link-icon li a{
        text-decoration: none;
    }

    .card-min .link .link-icon li a:not(.active a){
        color: rgb(207, 196, 196);
    }

    .card-min .link .active a , .active .icon{
        color:#069a77;
    }
    /***************************************** FIN PART LEFT *********************************/

    /***************************************** PART RIGHT *********************************/
    .part-right{
        display: grid;
    }
    .part-right .part-right-top{
        border: 1px solid whitesmoke;
        border-radius: 1%;
        box-shadow: 0 0 3px rgba(0,0,0,0.7);
        width: 100%;
        float: right;
        display: block;
    }
    .coach-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }

    .coach-item .coach-item-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: contain;
    }
    .coach h1 , .cours h1, .content-2-head h1 {
        color: #069a77;
        font-size: 20px;
        margin-left: 20px;
    }
    .coach-item , .cours-item{
        display: flex;
        align-items: center;
        margin: 10px 10px 10px 20px;
    }
    .coach-info-text{
        display: inline-grid;
        font-size: 10px;
       
    }
    .coach-info-text strong{
        margin-bottom: 5px;
    }

    .cours-item-card{
        position: relative;
        border: 1px solid #069a77;
        border-radius: 20%;
        width: 70px;
        height: 70px;
        background-color: #069a77;
    }
    
    
    .cours-item .icon{
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-15%,-50%);
        color: white;
    }
    
    .cours-item-text{
        font-size: 10px;
        margin-left: 5px;
    }
    .cours-item-text p{
        margin-top:3px
    }
    
    .cours{
        width: 100%;
    }
     .cours-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        flex-wrap: wrap;
        align-items: center;
     }

     .part-right-bottom{
        display: grid;
     }

     .part-right-bottom .content-2-1{
        border: 1px solid whitesmoke;
        border-radius: 2%;
        box-shadow: 0 0 3px rgba(0,0,0,0.7);
        width: 100%;
        float: right;
        position: relative;
        margin-top: 60px;
     }

     .content-2-1 .content-nav-search{
        display: flex;
        width: 95%;
        justify-content:space-between;
        margin: 10px 40px 20px 20px;
    }
    .search{
        width: 80%;
        position: relative;
        display: flex;
        left: 0;
        
    }
    .search > input{
        width: 90%;
        height: 30px;
        border-radius: 20px;
        border: 1px solid #069a77;
        padding: 0 10px;
       outline: none;
    } 
    .search .icon{
        position: absolute;
        left: 10px;
        top: 30%;
        color: rgb(168, 164, 164);
    }
    
    .content-nav-search button{
        width:20%;
        border-radius: 20px;
        border: 1px solid #069a77;
        color: white;
        background-color: #069a77;
    }
    
    .videos{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-gap: 40px;
        margin: 30px 20px;
    }
    
    .video-item{
        width: 100%;
        height: 300px;
        position: relative;
    }
    
    .video-item img{
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
        border-radius: 5px;
    }
    
    .video-item .text{
        position: absolute;
        background-color: red;
        color: white;
        padding: 5px;
        text-align: center;
        top: 5%;
    }
    .content-2-2{
        display: grid;
        margin-top: 60px;
       margin-left: 5%;
       margin-right: 5%;

    }

    .content-2-2> h1{
        margin-bottom: 30px;
        color: #069a77;
        font-size: 20px;
        margin-left: 0;
    }
    form{
        width: 60%;
    }
    
    .group1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-gap: 20px;
        
    }
    .input-form{
        width: 100%;
    }
    .input-form input{
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background-color: #d1f0e9;
        border: 1px solid #d1f0e9;
    }
    .group2{
        margin-top: 20px;
        
    }
    
    .group2 textarea{
        width: 100%;
        margin-top: 20px;
        
        border-radius: 5px;
        background-color: #d1f0e9;
        border: 1px solid #d1f0e9;
    }
    
    .part2{
        display: flex;
        margin-right: 30px;
        justify-content: space-between;
        gap: 10%;
        
    }
    
    .info-group-item  h2,h5,p{
        margin: 0;
    }
    
    .info-group{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        box-sizing: border-box;
    }

    .info-social{
        display: flex;
        justify-content: space-between;
    }
     .info-social .icon{
        color:#069a77;
     }


/********************************* FIN Content *********************************/

/********************************* Debut Footer *********************************/

.footer .row{
    /* width: 100%; */
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    margin: 0 20px;
}
 .footer{
    background-color: #069a77;
 }

 .footer-col {
    padding: 10px 0;
    text-align: start;
    justify-content: center;
    margin: 0 20px ;
 }

 .footer-col h4 , .link-icon li:first-child{
    font-size: 18px;
    margin: 0 0 40px 0;
    
 }



 .footer-col .link-icon{
    display: flex;
 }
 .footer-col .link-icon :not(:last-child){
    margin-bottom: 20px;
 }

 

 .footer-col .link-icon li{
    list-style: none;
    margin-left: 10px;
 }

 .footer-col .link-icon li a{
    text-decoration: none;
    color: white;
 }
 .footer-col .link-icon .icon{
    color:#ff9800;
 }

 .footer{
    display: block;
 }

 .bar-footer{
    background-color: #107e66;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
 }
 footer{
    /* position: absolute;
    bottom: 0; */
    left: 0;
    right: 0;
    margin: inherit;
 }

/********************************** FIN FOOTER **********************************/
